<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.veez" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:name=".MyApplication"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ListActivity"
            android:label="title_activity_list" >

        </activity>

        <activity
            android:name=".ExplorerActivity"
            android:label="activity_explorer" >

        </activity>

        <activity
            android:name=".MyListsActivity"
            android:label="activity_my_lists" >
        </activity>

        <activity
            android:name=".CreateListActivity"
            android:label="activity_my_lists" >
        </activity>

        <activity
            android:name=".ListInfoActivity"
            android:label="activity_my_lists" >
        </activity>
    </application>

</manifest>

